@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<!--Loop list of Bowlers-->
@foreach (var x in Model.Bowlers)
{
    <p>@x.BowlerFirstName</p>
}

<!--Pagination-->
<div page-info="@Model.PageNumberingInfo" page-url-teamname="@Model.TeamName" >

</div>